*.swp

container/.env
container/docker-compose-volumes.yaml
container/mysql/

download/jenkins-cli.jar
download/jfrog-artifactory-oss-*-compose.tar.gz
download/artifactory-oss-*/
download/*.zip
download/hands-on-grafana-*/
download/hands-on-webapp-rolling-dice-*/

try-my-hand/webapp-webui/
try-my-hand/webapp-webapi/

